.main {
    background-color: #2E2E2E;
    color: white;
    display: flex;
    flex-direction: column;
}

.loader {
    display: flex;
    justify-content: center;

}

.button-group {
    display: flex;
    justify-content: center;
}

.button {
    width: fit-content;
    border: none;
    background-color: #85C7F2;
    color: #2E2E2E;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
    font-family: 'SUITE-Regular';
}

.button:hover {
    color: white;
    border-radius: 10px;
    transition: 0.7s;
}


@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}