.loader {
    display: flex;
    justify-content: center;
}

.banner {
    height: 56vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner:before {
    content: '';
    background: linear-gradient(to top, #2E2E2E, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    font-family: 'SUITE-Regular';
}

.banner-text-area>* {
    z-index: 2;
}

.banner-text-title {
    font-family: 'JalnanGothic';
    color: white;
    text-shadow: 1px 1px 2px #2E2E2E;
}

.banner-text-overview {
    color: #DBDBDB;
    text-shadow: 1px 1px 1px #2E2E2E;
}

.banner-date-genre {
    margin-bottom: 15px;
}

.banner-date {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 56vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        border-radius: 10px;
        margin: 10px;
    }

    .banner:before {
        content: '';
        background: linear-gradient(to top, #2E2E2E, transparent);
        position: absolute;
        left: 0;
        height: 56vh;
        width: 100%;
        margin: 10px;
    }

    .banner-text-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 2rem;
        font-family: 'SUITE-Regular';
    }

    .banner-date {
        text-shadow: 1px 1px 1px black;
        font-size: 15px;
    }
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}