#navbar {
    background-color: #2E2E2E !important;
    font-family: 'SUITE-Regular';
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png");
}

#navbar-menu .nav-link {
    color: white;
    transition: text-decoration-color 0.5ms;
    text-decoration: underline rgba(133, 199, 242, 0);
}

#navbar-menu :hover {
    color: #85C7F2;
    text-decoration-color: rgba(133, 199, 242, 1);
}

#button {
    background-color: #85C7F2;
    color: white;
    border-radius: 10px;
}

.search-box {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    outline: none;
}

.search-box :focus {
    outline: none;
}

.search-box :hover {
    outline: none;
    color: #4C4C4C;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}